::-webkit-scrollbar {
  width: 13px;
  -webkit-box-shadow: inset 0  0 50px #777;
  box-shadow: inset 0  0 50px #777;
}
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), color-stop(#222222), color-stop(#333333), color-stop(#444444), color-stop(#555555), color-stop(#444444), color-stop(#333333), color-stop(#222222), to(#111111));
  background: linear-gradient(to top, #111111, #222222, #333333, #444444, #555555, #444444, #333333, #222222, #111111);
  border-radius: 3px;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
.modal-menu {
  display: none;
  z-index: 500;
}
.modal-menu-content {
  background-color: #191919;
  opacity: .99;
  position: absolute;
  right: 0;
  top: 0;
  height: 450px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-menu-content img {
  margin-top: 30px;
  margin-bottom: 20px;
}
.modal-menu-content-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-menu-content-links a {
  font-size: 14px;
  color: #868686 !important;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  width: 100% !important;
}
.modal-menu-content-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.modal-menu-content-links .active {
  color: #fff !important;
}
.modal-menu-content .modal-button {
  display: none;
  text-align: center;
  margin-top: 20px;
  width: 100px;
  margin-left: 50% !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
body {
  background: url(../img/HPBG22.png);
  background-repeat: repeat;
  background-position: top left;
  font-family: 'Roboto', sans-serif;
  z-index: 100099;
  color: #fff;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  width: 97%;
  margin: auto;
  margin-bottom: 130px;
}
.header .logo {
  margin-right: 100px;
}
.header .sity {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
}
.header-links {
  margin-left: auto;
}
.header-links a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #868686;
  margin-left: 25px;
  padding-bottom: 1px;
  padding: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-links a:hover {
  color: #fff;
}
.header-links .active {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.header .button {
  text-decoration: none;
  margin-left: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  padding: 15px 35px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.header .button:hover {
  background-color: #FFFFFf;
  color: #868686;
}
.header .button:active {
  color: #000;
  font-weight: 200;
}
.thanks-content {
  text-align: center;
  margin-top: 50px;
}
.thanks-content img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.thanks-content h2 {
  font-weight: 500;
  font-size: 30px;
}
.thanks-content p {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 75px;
}
.thanks-content a {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 30px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.thanks-content a span {
  font-size: 26px;
  margin-right: 10px;
}
.thanks-content a:hover span {
  margin-right: 4px;
  margin-left: 7px;
}
.thanks-content a:hover {
  font-weight: 600;
  color: #121212;
  background-color: #f9f9f9;
}
.thanks-content a:active span {
  margin-left: 0;
  margin-right: 10px;
}
.home-main {
  text-align: center;
}
.home-main h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  margin-bottom: -10px;
}
.home-main p {
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 200px;
}
.beneficts-title {
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 25px;
  text-align: left;
  margin-left: 35px;
  margin-bottom: -7px;
}
.beneficts-title-block {
  width: 283px;
}
.beneficts-content {
  width: 60%;
  padding-left: 75px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.beneficts-card {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}
.beneficts-card h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 0px;
}
.beneficts-card p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #868686;
}
.beneficts .fancing-title-block {
  width: 182px;
}
.service {
  margin-bottom: 100px;
}
.service-title {
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 25px;
  text-align: left;
  margin-left: 35px;
  margin-bottom: -7px;
}
.service-title-block {
  width: 203px;
}
.service .ogr-title-block {
  width: 145px;
}
.service-content {
  width: 70%;
  margin-left: auto;
  margin-right: 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 75px;
}
.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-bottom: 30px;
}
.service .card-image {
  width: 214px;
  height: 128px;
  overflow: hidden;
  border-radius: 15px;
  margin-right: 20px;
}
.service .card-info {
  width: 200px;
}
.service .card-info h2 {
  font-style: normal;
  font-weight: 100;
  font-size: 19px;
  line-height: 25px;
  margin-bottom: -10px;
  margin-top: -7px;
}
.service .card-info p {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  color: #868686;
}
.service .card-info a {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 10px;
  background-color: transparent;
  border: 1px solid #868686;
  color: #868686;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  text-decoration: none;
}
.service .card-info a:hover {
  background-color: #fff;
  color: #000;
}
.service .card-info a:active {
  background-color: #dddddd;
  color: #555;
}
.service .fonari img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin-left: -220px;
  margin-top: -150px;
}
.service .svetilniki img {
  -webkit-transform: scale(0.09);
          transform: scale(0.09);
  margin-left: -1150px;
  margin-top: -890px;
}
.service .led-lenty img {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  margin-left: -600px;
  margin-top: -300px;
}
.service .nochniki img {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  margin-left: -530px;
  margin-top: -400px;
}
.about {
  margin-bottom: 125px;
}
.about-title {
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 25px;
  text-align: left;
  margin-left: 35px;
  margin-bottom: -7px;
}
.about-title-block {
  width: 151px;
}
.about-content {
  margin-top: 50px;
  width: 60%;
  margin: auto;
  z-index: 99 !important;
}
.about-content h1 {
  font-style: normal;
  font-weight: 200;
  font-size: 56px;
  line-height: 66px;
  margin-bottom: -5px;
}
.about-content p {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #868686;
  width: 75%;
}
.about .back {
  position: absolute;
  right: 75px;
  font-size: 250px;
  margin-top: -250px;
  font-weight: 700;
  color: rgba(50, 50, 50, 0.4);
  text-transform: uppercase;
  letter-spacing: 15px;
  z-index: -1 !important;
}
.examples {
  margin-bottom: 125px;
}
.examples-title {
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 25px;
  text-align: left;
  margin-left: 35px;
  margin-bottom: -7px;
}
.examples-title-block {
  width: 188px;
}
.examples-content {
  margin-top: 50px;
  width: 55%;
  margin: auto;
}
.examples-content h1 {
  font-style: normal;
  font-weight: 200;
  font-size: 56px;
  line-height: 66px;
  margin-bottom: -5px;
}
.examples-content p {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #868686;
  width: 75%;
}
.examples-slider {
  margin: auto;
  margin-top: 100px;
  width: 85%;
  height: 300px;
}
.examples-slider .examples-slide {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  width: auto;
  max-width: 75%;
}
.examples-slider .examples-slide img {
  margin: auto;
  width: auto;
  height: 100%;
  border-radius: 15px;
}
.slick-prev {
  margin-left: -20px;
  height: 48px;
  width: 29px;
  background: url(../img/left-arrow.png);
}
.slick-prev:hover {
  background: url(../img/left-arrow.png);
  margin-left: -23px;
}
.slick-prev:focus {
  background: url(../img/left-arrow.png);
  margin-left: -20px;
}
.slick-prev::before {
  display: none;
}
.slick-next {
  margin-right: -20px;
  height: 48px;
  width: 29px;
  background: url(../img/right-arrow.png);
}
.slick-next:hover {
  background: url(../img/right-arrow.png);
  margin-right: -23px;
}
.slick-next:focus {
  background: url(../img/right-arrow.png);
  margin-right: -20px;
}
.slick-next::before {
  display: none;
}
.slick-dots {
  bottom: -42px;
}
.slick-dots li.slick-active button:before {
  color: #999;
  opacity: 0.9;
  font-size: 16px;
}
.slick-dots li button:before {
  color: #555;
  font-size: 14px;
}
.contacts {
  margin-bottom: 120px;
}
.contacts-title {
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 25px;
  text-align: left;
  margin-left: 35px;
  margin-bottom: -7px;
}
.contacts-title-block {
  width: 131px;
}
.contacts-content {
  padding-top: 50px;
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contacts-content h1 {
  font-style: normal;
  font-weight: 200;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 5px;
}
.contacts-content p {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  color: #868686;
  margin-bottom: 20px;
}
.contacts-content a {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  color: #868686;
}
.contacts-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts-left h1 {
  margin-bottom: -5px;
}
.contacts-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-center a {
  margin-bottom: 22px;
}
.contacts-center .nnn {
  margin-bottom: 2px;
}
.contacts-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-right form input {
  padding: 13px 15px 13px 15px;
  font-size: 20px;
  margin-bottom: 13px;
  background-color: transparent;
  border: 1px solid #868686;
  border-radius: 10px;
  outline: none;
  color: #868686;
}
.contacts-right form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}
.contacts-right form input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}
.contacts-right form input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}
.contacts-right form input::placeholder {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}
.contacts-right form input:focus {
  font-size: 18px;
  font-weight: 200;
  padding: 15px 15px 14px 15px;
}
.contacts-right form button {
  padding: 17px;
  border-radius: 10px;
  border: 1px solid #868686;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background: #DDDDDD;
  color: #000000;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}
.contacts-right form button:hover {
  background-color: #fff;
  color: #000;
}
.contacts-right form button:active {
  background-color: #dddddd;
  color: #555;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 25px;
}
.footer p,
.footer a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  color: #868686;
}
@media (max-width: 768px) {
  .menu-button {
    display: block;
    position: absolute;
    right: 35px;
    top: 40px;
    width: 50px;
    height: 3px;
    background-color: #fff;
    border: none;
    z-index: 1000;
  }
  .menu-button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 3px;
    background-color: #fff;
    margin-top: -10px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .menu-button:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin-top: 10px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .menu-button_active {
    height: 0;
  }
  .menu-button_active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 0;
    width: 25px;
    height: 5px;
    -webkit-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000;
  }
  .menu-button_active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 0;
    width: 25px;
    height: 5px;
    -webkit-box-shadow: 0 0 3px #000;
            box-shadow: 0 0 3px #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header-links {
    display: none;
  }
  .modal-menu-active {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .sity {
    left: 0;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .logo {
    margin-right: 5px;
  }
  .header .button {
    margin-left: 10px;
    margin-right: 125px;
  }
  .beneficts-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
  }
  .beneficts-card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .service-card {
    margin-bottom: 50px;
  }
  .about-content {
    margin-top: 50px;
    width: 80%;
    margin: auto;
  }
  .about-content h1 {
    font-size: 46px;
  }
  .about-content p {
    width: 100%;
  }
  .about .back {
    display: none;
  }
  .examples-slider {
    margin: auto;
    margin-top: 100px;
    width: 100%;
    height: 275px;
  }
  .examples-slider .examples-slide {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #777;
    height: 275px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    max-width: 97%;
  }
  .examples-slider .examples-slide img {
    width: 100%;
    height: 100%;
  }
  .contacts-content {
    width: 60%;
  }
  .contacts-right {
    width: 100%;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 97%;
    margin: auto;
  }
}
@media (max-width: 475px) {
  .modal-menu-content .modal-button {
    display: block !important;
  }
  .modal-menu-content {
    width: 100vw;
  }
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
    margin-bottom: 75px;
  }
  .header .logo {
    margin-right: 100px;
    margin-bottom: 20px;
  }
  .header .sity {
    margin-left: 10px;
  }
  .header .button {
    display: none;
  }
  .home-main {
    margin: auto;
  }
  .home-main h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: -20px;
  }
  .home-main p {
    font-size: 14px;
    max-width: 97%;
  }
  .beneficts-content {
    max-width: 97%;
    padding-left: 0;
    margin-right: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .beneficts-card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .beneficts h2 {
    font-size: 18px;
  }
  .beneficts p {
    font-size: 12px;
  }
  .service-content {
    width: 95%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 75px;
  }
  .service-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 75px;
    margin-left: 10px;
  }
  .service .card-image {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    margin-bottom: 45px;
  }
  .service .card-info {
    width: 100%;
    margin-left: -20px;
  }
  .service .card-info h2 {
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: -7px;
  }
  .service .card-info p {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 16px;
    color: #868686;
  }
  .service .card-info button {
    width: 115%;
    height: 55px;
    border-radius: 15px;
  }
  .about-content {
    width: 90%;
    margin: auto;
  }
  .about-content h1 {
    font-size: 32px;
  }
  .about-content p {
    font-size: 16px;
    width: 90%;
  }
  .examples-slider {
    margin: auto;
    margin-top: 100px;
    width: 100%;
    height: 190px;
  }
  .examples-slider .examples-slide {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #777;
    height: 190px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    max-width: 97%;
  }
  .examples-slider .examples-slide img {
    width: 100%;
    height: 100%;
  }
  .contacts-content {
    padding-top: 50px;
    width: 90%;
    margin: auto;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 25px;
    padding-bottom: 10px;
  }
  .footer br {
    display: none;
  }
  .footer p,
  .footer a {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    color: #868686;
    margin-bottom: -5px;
  }
}
